#name{
    top: 0;
    margin-top: 0;
    margin-bottom:70px;
    margin-left:450px;
    width: auto;
    height: 400px;
    padding: 20px;    
}

.fullSection{
    width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 100px;

}

.icons{
    float: left;
    padding: 55px;
    position: relative;
}

.icons:hover {
    position: relative;
    animation: shake 0.6s; 
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#profileContent{
    background-color: white;
    height: 100%;
    width: auto;
    margin: 100px;
    clear: both;
    border-radius: 4px;
    padding: 25px;
}

#myPic{
    clear: both;
    float: left; 
    width: 400px; 
    max-width:100%;
    height: auto;
    padding: 20px;
    border-radius: 4px;
}

#musicContent{
    background-color: white;
    height: auto;
    width: auto;
    margin: 100px;
    clear: both;
    border-radius: 4px;
    padding: 25px;
}

#writingContent{
    background-color: white;
    height: auto;
    width: auto;
    margin: 100px;
    clear: both;
    border-radius: 4px;
    padding: 25px;
}

#programmingContent{
    background-color: white;
    height: auto;
    width: auto;
    margin: 100px;
    clear: both;
    border-radius: 4px;
    padding: 25px;
}

#contactContent{
    background-color: white;
    height: auto;
    width: auto;
    margin: 100px;
    clear: both;
    border-radius: 4px;
    padding: 25px;
}

/*bg*/

body {
    background-image: url("images/fabric_of_squares_gray.png");
}

h1{
    font-family: 'Markazi Text', serif;
    font-size: 40pt;
}

h2{
    font-family: 'Markazi Text', serif;
    font-size: 27pt;
}

p{
     font-family: 'Markazi Text', serif;
     font-size: 17pt;
}
/*contact */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
    color: white;
}

.contactContainer {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}